// to do list

.todo-list-item{
    padding: 2%;
    text-align: center;
    font-size: 1.5rem;
    transition: .3s;

    .todo-btn{
        margin-left: 10%;
        background-color: white;
        border: 2px solid red;
        border-radius: 25%;
        padding:1%;
        color: red;
        font-weight: 700;
        transition: .3s;
    }
}

.todo-list-item:hover{
    background-color: rgb(196, 195, 195);
    color:red;

}

.todo-list-item .todo-btn:hover{
    background-color: red;
    color:white;
}

.done{
    text-decoration: line-through;
}

// to do form

.add-todo-form{
    .todo-name{
        input{
            width: 100%;
            height: 2rem;
            text-align: center;
            font-size: 2rem;
        }
    }

    .todo-submit{
        input{
            width: 100%;
            margin-top: 1%;
            background-color: white;
            border: 2px solid green;
            padding:2%;
            color: green;
            font-weight: 700;
            transition: .3s;
        }
    }

}

.add-todo-form .todo-submit input:hover{
    background-color: green;
    color:white;
}



















