/* You can add global styles to this file, and also import other style files */

*{
    padding: 0;
    margin:0;
    font-family: sans-serif;
}

h1{
    animation: fade-in 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fade-in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}